In [17]:
%%time
import pandas as pd
from pathlib import Path
import sqlalchemy
import xlrd
import numpy as np
import pymysql.cursors

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 69.6 Âµs

In [9]:
state_name = "CT"
db_name = state_name + "_asmt_Main"
from pathlib import Path
dbfile = Path("/scratch/public/ethanburrell/"+db_name+".db")

sqlite_uri = "sqlite:///"+"/scratch/public/ethanburrell/"+db_name+".db"
ct_prop = sqlalchemy.create_engine(sqlite_uri)

In [18]:
fips = ["34003", "34013", "34017", "34019", "34021", "34023", "34025", "34027", "34029", "34031", "34035", "34037", "34039", "34041", "36005", "36027", "36047", "36059", "36061", "36071", "36079", "36081", "36085", "36087", "36103", "36105", "36111", "36119", "9001", "9005", "9009"]
ct_fips = [i for i in fips if i[0] == "9"]
ny_fips = [i for i in fips if i[0:2] == "36"]
nj_fips = [i for i in fips if i[0:2] == "34"]

In [19]:
for i in ct_fips:
    #pd.read_sql("SELECT * FROM combined WHERE fips='" + i + "'", ct_prop).to_csv(state_name + "_" + i)
    print("SELECT * FROM combined WHERE fips='" + i + "'")
    print(state_name + "_" + i)

SELECT * FROM combined WHERE fips='9001'
NY_9001
SELECT * FROM combined WHERE fips='9005'
NY_9005
SELECT * FROM combined WHERE fips='9009'
NY_9009

In [20]:
state_name = "NJ"
for i in nj_fips:
    #pd.read_sql("SELECT * FROM combined WHERE fips='" + i + "'", ct_prop).to_csv(state_name + "_" + i)
    print("SELECT * FROM combined WHERE fips='" + i + "'")
    print(state_name + "_" + i)

SELECT * FROM combined WHERE fips='34003'
NJ_34003
SELECT * FROM combined WHERE fips='34013'
NJ_34013
SELECT * FROM combined WHERE fips='34017'
NJ_34017
SELECT * FROM combined WHERE fips='34019'
NJ_34019
SELECT * FROM combined WHERE fips='34021'
NJ_34021
SELECT * FROM combined WHERE fips='34023'
NJ_34023
SELECT * FROM combined WHERE fips='34025'
NJ_34025
SELECT * FROM combined WHERE fips='34027'
NJ_34027
SELECT * FROM combined WHERE fips='34029'
NJ_34029
SELECT * FROM combined WHERE fips='34031'
NJ_34031
SELECT * FROM combined WHERE fips='34035'
NJ_34035
SELECT * FROM combined WHERE fips='34037'
NJ_34037
SELECT * FROM combined WHERE fips='34039'
NJ_34039
SELECT * FROM combined WHERE fips='34041'
NJ_34041

In [32]:
state_name = "NY"
for i in ny_fips:
    #pd.read_sql("SELECT * FROM combined WHERE fips='" + i + "'", ct_prop).to_csv(state_name + "_" + i)
    #print("SELECT * FROM combined WHERE fips='" + i + "'")
    #print(state_name + "_" + i)
    print("sqlite3 " +  state_name + i +".db")
print("================")
print("run this all in one sqlite instance")
print("attach 'NY_trans_asmt_joined.db' as joined;")
print("=")
for i in ny_fips:
    print("attach '" + state_name + i + ".db' as " + state_name + i + ";")
    print("CREATE TABLE " + state_name + i + ".main AS SELECT * from joined.main WHERE joined.main.FIPS=" + i + ";")
    print("=")
print("NOW WE ARE GOING TO CREATE CSVs FOR EACH DATABASE run this in one sqlite3 instance")
print(".mode csv")
for i in ny_fips:
    print(".output "+state_name + i+".csv")
    print("attach '" + state_name + i + ".db' as " + state_name + i + ";")
    print("SELECT * FROM " + state_name + i +".main;")
    print("=")

sqlite3 NY36005.db
sqlite3 NY36027.db
sqlite3 NY36047.db
sqlite3 NY36059.db
sqlite3 NY36061.db
sqlite3 NY36071.db
sqlite3 NY36079.db
sqlite3 NY36081.db
sqlite3 NY36085.db
sqlite3 NY36087.db
sqlite3 NY36103.db
sqlite3 NY36105.db
sqlite3 NY36111.db
sqlite3 NY36119.db
================
run this all in one sqlite instance
attach 'NY_trans_asmt_joined.db' as joined;
=
attach 'NY36005.db' as NY36005;
CREATE TABLE NY36005.main AS SELECT * from joined.main WHERE joined.main.FIPS=36005;
=
attach 'NY36027.db' as NY36027;
CREATE TABLE NY36027.main AS SELECT * from joined.main WHERE joined.main.FIPS=36027;
=
attach 'NY36047.db' as NY36047;
CREATE TABLE NY36047.main AS SELECT * from joined.main WHERE joined.main.FIPS=36047;
=
attach 'NY36059.db' as NY36059;
CREATE TABLE NY36059.main AS SELECT * from joined.main WHERE joined.main.FIPS=36059;
=
attach 'NY36061.db' as NY36061;
CREATE TABLE NY36061.main AS SELECT * from joined.main WHERE joined.main.FIPS=36061;
=
attach 'NY36071.db' as NY36071;
CREATE TABLE NY36071.main AS SELECT * from joined.main WHERE joined.main.FIPS=36071;
=
attach 'NY36079.db' as NY36079;
CREATE TABLE NY36079.main AS SELECT * from joined.main WHERE joined.main.FIPS=36079;
=
attach 'NY36081.db' as NY36081;
CREATE TABLE NY36081.main AS SELECT * from joined.main WHERE joined.main.FIPS=36081;
=
attach 'NY36085.db' as NY36085;
CREATE TABLE NY36085.main AS SELECT * from joined.main WHERE joined.main.FIPS=36085;
=
attach 'NY36087.db' as NY36087;
CREATE TABLE NY36087.main AS SELECT * from joined.main WHERE joined.main.FIPS=36087;
=
attach 'NY36103.db' as NY36103;
CREATE TABLE NY36103.main AS SELECT * from joined.main WHERE joined.main.FIPS=36103;
=
attach 'NY36105.db' as NY36105;
CREATE TABLE NY36105.main AS SELECT * from joined.main WHERE joined.main.FIPS=36105;
=
attach 'NY36111.db' as NY36111;
CREATE TABLE NY36111.main AS SELECT * from joined.main WHERE joined.main.FIPS=36111;
=
attach 'NY36119.db' as NY36119;
CREATE TABLE NY36119.main AS SELECT * from joined.main WHERE joined.main.FIPS=36119;
=
NOW WE ARE GOING TO CREATE CSVs FOR EACH DATABASE run this in one sqlite3 instance
.mode csv
.output NY36005.csv
attach 'NY36005.db' as NY36005;
SELECT * FROM NY36005.main;
=
.output NY36027.csv
attach 'NY36027.db' as NY36027;
SELECT * FROM NY36027.main;
=
.output NY36047.csv
attach 'NY36047.db' as NY36047;
SELECT * FROM NY36047.main;
=
.output NY36059.csv
attach 'NY36059.db' as NY36059;
SELECT * FROM NY36059.main;
=
.output NY36061.csv
attach 'NY36061.db' as NY36061;
SELECT * FROM NY36061.main;
=
.output NY36071.csv
attach 'NY36071.db' as NY36071;
SELECT * FROM NY36071.main;
=
.output NY36079.csv
attach 'NY36079.db' as NY36079;
SELECT * FROM NY36079.main;
=
.output NY36081.csv
attach 'NY36081.db' as NY36081;
SELECT * FROM NY36081.main;
=
.output NY36085.csv
attach 'NY36085.db' as NY36085;
SELECT * FROM NY36085.main;
=
.output NY36087.csv
attach 'NY36087.db' as NY36087;
SELECT * FROM NY36087.main;
=
.output NY36103.csv
attach 'NY36103.db' as NY36103;
SELECT * FROM NY36103.main;
=
.output NY36105.csv
attach 'NY36105.db' as NY36105;
SELECT * FROM NY36105.main;
=
.output NY36111.csv
attach 'NY36111.db' as NY36111;
SELECT * FROM NY36111.main;
=
.output NY36119.csv
attach 'NY36119.db' as NY36119;
SELECT * FROM NY36119.main;
=

In [22]:
pd.read_sql("SELECT * FROM sqlite_master WHERE type='table'", ct_prop)

OperationalError: (sqlite3.OperationalError) unable to open database file

In [23]:
nj = pd.read_csv("NJ_trans_asmt_combined")

/usr/local/linux/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (8,9,10,11,23,31,32,35,37,41,51,55,56,57,59,61,63,64,66,67,68,72,75,76,83,85,86,87,88,89,90,91,92,93,95,96,98,99,101,107,110,112,113,114,115,118,134,136,139,140,143,144,154,158,159,163,164,169,175,176,177,179,183,273) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
nj

,Unnamed: 0,TransId,FIPS,State,County,DataClassStndCode,RecordTypeStndCode,RecordingDate,RecordingDocumentNumber,RecordingBookNumber,...,PropertyAddressCBSACode:1,PropertyAddressCBSADivisionCode:1,PropertyAddressMatchType:1,PropertyAddressDPV:1,PropertyGeocodeQualityCode:1,PropertyAddressQualityCode:1,SubEdition,BatchID:2,BKFSPID:2,SourceChkSum:1
0,0,264481371,34003,NJ,BERGEN,D,P,1994-01-06,NaN,7663,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
1,1,264482106,34003,NJ,BERGEN,D,P,1994-01-31,NaN,7670,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
2,2,264483265,34003,NJ,BERGEN,D,P,1994-03-11,NaN,7980,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
3,3,264483793,34003,NJ,BERGEN,D,P,1994-03-29,NaN,7684,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
4,4,264484311,34003,NJ,BERGEN,D,P,1994-04-15,NaN,7689,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
5,5,264485518,34003,NJ,BERGEN,D,P,1994-05-26,NaN,7699,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
6,6,264485951,34003,NJ,BERGEN,D,P,1994-06-08,NaN,7702,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
7,7,264486143,34003,NJ,BERGEN,D,P,1994-06-13,NaN,7704,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
8,8,264486311,34003,NJ,BERGEN,D,P,1994-06-17,NaN,7705,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
9,9,264486368,34003,NJ,BERGEN,D,P,1994-06-20,NaN,7705,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
10,10,264486575,34003,NJ,BERGEN,D,P,1994-06-27,NaN,7707,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
11,11,264486662,34003,NJ,BERGEN,D,P,1994-06-28,NaN,7708,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
12,12,264486699,34003,NJ,BERGEN,D,P,1994-06-28,NaN,7708,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
13,13,264487306,34003,NJ,BERGEN,D,P,1994-07-12,NaN,7712,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
14,14,264487442,34003,NJ,BERGEN,D,P,1994-07-14,NaN,7712,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
15,15,264487595,34003,NJ,BERGEN,D,P,1994-07-19,NaN,7714,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
16,16,264488415,34003,NJ,BERGEN,D,P,1994-08-08,NaN,7720,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
17,17,264488735,34003,NJ,BERGEN,D,P,1994-08-16,NaN,7722,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
18,18,264488843,34003,NJ,BERGEN,D,P,1994-08-17,NaN,7723,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
19,19,264488876,34003,NJ,BERGEN,D,P,1994-08-18,NaN,7723,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
20,20,264489014,34003,NJ,BERGEN,D,P,1994-08-23,NaN,7725,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
21,21,264489185,34003,NJ,BERGEN,D,P,1994-08-29,NaN,7726,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
22,22,264489484,34003,NJ,BERGEN,D,P,1994-09-02,NaN,7728,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
23,23,264489820,34003,NJ,BERGEN,D,P,1994-09-12,NaN,7730,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
24,24,264490342,34003,NJ,BERGEN,D,P,1994-09-27,NaN,7734,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
25,25,264490664,34003,NJ,BERGEN,D,P,1994-10-05,NaN,7736,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
26,26,264491448,34003,NJ,BERGEN,D,P,1994-10-28,NaN,7742,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
27,27,264491515,34003,NJ,BERGEN,D,P,1994-11-01,NaN,7743,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28,28,264491789,34003,NJ,BERGEN,D,P,1994-11-07,NaN,7745,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
29,29,264491933,34003,NJ,BERGEN,D,P,1994-11-15,NaN,7746,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28277,28277,421230009,34003,NJ,BERGEN,M,P,2017-09-11,17-067719,02718,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28278,28278,421230037,34003,NJ,BERGEN,M,P,2017-09-11,17-067811,02718,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28279,28279,421230038,34003,NJ,BERGEN,M,P,2017-09-11,17-067811.01,02718,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28280,28280,421230054,34003,NJ,BERGEN,M,P,2017-09-12,17-067988.01,02719,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28281,28281,421230060,34003,NJ,BERGEN,M,P,2017-09-12,17-068009,02719,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28282,28282,421230102,34003,NJ,BERGEN,M,P,2017-09-13,17-068601.01,02721,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28283,28283,421230108,34003,NJ,BERGEN,M,P,2017-09-13,17-068621.01,02721,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28284,28284,421230111,34003,NJ,BERGEN,M,P,2017-09-13,17-068629.02,02721,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28285,28285,421230118,34003,NJ,BERGEN,M,P,2017-09-14,17-068811,02722,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28286,28286,421230162,34003,NJ,BERGEN,M,P,2017-09-15,17-069167,02723,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28287,28287,421230203,34003,NJ,BERGEN,M,P,2017-09-15,17-069318,02723,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28288,28288,421230217,34003,NJ,BERGEN,M,P,2017-09-18,17-069454,02724,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28289,28289,421230289,34003,NJ,BERGEN,M,P,2017-09-19,17-069757,02725,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28290,28290,421230315,34003,NJ,BERGEN,M,P,2017-09-19,17-069873.02,02725,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28291,28291,421230318,34003,NJ,BERGEN,M,P,2017-09-19,17-069874,02725,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28292,28292,421230333,34003,NJ,BERGEN,M,P,2017-09-19,17-069944,02726,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28293,28293,421230370,34003,NJ,BERGEN,M,P,2017-09-21,17-070591.01,02728,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28294,28294,421230395,34003,NJ,BERGEN,M,P,2017-09-21,17-070702,02728,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28295,28295,421230401,34003,NJ,BERGEN,M,P,2017-09-21,17-070723,02728,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28296,28296,421230418,34003,NJ,BERGEN,M,P,2017-09-22,17-071033,02729,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28297,28297,421230432,34003,NJ,BERGEN,M,P,2017-09-22,17-071062.03,02729,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28298,28298,421230449,34003,NJ,BERGEN,M,P,2017-09-25,17-071296.02,02730,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28299,28299,421230451,34003,NJ,BERGEN,M,P,2017-09-25,17-071305.01,02730,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28300,28300,421230456,34003,NJ,BERGEN,M,P,2017-09-25,17-071329.06,02731,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28301,28301,421230490,34003,NJ,BERGEN,M,P,2017-09-25,17-071488.01,02731,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28302,28302,421230505,34003,NJ,BERGEN,M,P,2017-09-26,17-071722,02732,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28303,28303,421230555,34003,NJ,BERGEN,M,P,2017-09-26,17-071848,02732,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28304,28304,421230600,34003,NJ,BERGEN,M,P,2017-09-27,17-072122,02734,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28305,28305,421230607,34003,NJ,BERGEN,M,P,2017-09-27,17-072155,02734,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN
28306,28306,421243164,34003,NJ,BERGEN,F,P,2017-10-23,,,...,NaN,NaN,NaN,NaN,NaN,NaN,0,336425,-1,NaN

In [21]:
state_name = "NJ"
for i in nj_fips:
    #pd.read_sql("SELECT * FROM combined WHERE fips='" + i + "'", ct_prop).to_csv(state_name + "_" + i)
    nj.loc[nj["FIPS"] == int(i)].to_csv(state_name + "_" + i + ".csv")
    #print("SELECT * FROM combined WHERE fips='" + i + "'")
    print(state_name + "_" + i)

NJ_34003
NJ_34013
NJ_34017
NJ_34019
NJ_34021
NJ_34023
NJ_34025
NJ_34027
NJ_34029
NJ_34031
NJ_34035
NJ_34037
NJ_34039
NJ_34041

In [12]:
state_name = "CT"
db_name = "CT_asmt_trans_join"
from pathlib import Path
dbfile = Path("/scratch/public/ethanburrell/"+db_name+".db")

sqlite_uri = "sqlite:///"+"/accounts/projects/mzuk/ethanburrell/Documents/Research/CT_Data/"+db_name+".db"
ct_prop = sqlalchemy.create_engine(sqlite_uri)

In [ ]:
CT = pd.read_sql("SELECT * FROM main LIMIT 10", ct_prop)

In [ ]:
state_name = "CT"
for i in ct_fips:
    #pd.read_sql("SELECT * FROM combined WHERE fips='" + i + "'", ct_prop).to_csv(state_name + "_" + i)
    CT.loc[CT["FIPS"] == int(i)].to_csv(state_name + "_" + i + ".csv")
    #print("SELECT * FROM combined WHERE fips='" + i + "'")
    print(state_name + "_" + i)